extends ../layouts/application

block variables
   - var title = 'Courses';

block hero
    h1 Courses

block content
    article.course-listing
        h2 SaaS Web App w/ Subscription Payments (Jan 20)
        p.technologies  Node.js, MySQL, Express.js, Vagrant, Pug, Stripe, Git
        p Learn how to make a subscription based SaaS app in 6 weeks. You'll build a personal budgetting web app that will have a freemium and paid tier.  This course is currently being worked on and the first week's lessons will be released January 20th.
        if currentUser.status !== 'paid'
            p
                | You currently aren't signed up to receive the course.
                a(href='/saas-course/purchase')  Click here to sign up for the course for only $10.

    article.course-listing
        h2 Twitter Clone
        p.technologies  Node.js, MySQL, Express.js, EJS, Vagrant
        p Go from zero coding skills to building a small Twitter clone in 7 days. You'll build a web app that will create, read, update and delete tweets.
        ul
            li
                a(href='/courses/twitter-clone/1/1') Day 1: Getting Your Development Environment Setup
            li
                a(href='/courses/twitter-clone/2/1') Day 2: Creating The Tweets Form In HTML/CSS
            li
                a(href='/courses/twitter-clone/3/1') Day 3: Creating And Saving Tweets
            li
                a(href='/courses/twitter-clone/4/1') Day 4: Showing Tweets
            li
                a(href='/courses/twitter-clone/5/1') Day 5: Editing Tweets
            li
                a(href='/courses/twitter-clone/6/1') Day 6: Deleting A Tweets
            li
                a(href='/courses/twitter-clone/7/1') Day 7: Restrict Updating And Deleting Tweets

    article.course-listing
        h2 Ebay Web Scraper
        p.technologies Ruby
        p Build a web scraper that scrapes an eBay listing page.  You'll build a web scraper that gets the title, price, and number of bids from an auction listing.
        ul
            li
                a(href='/courses/ebay-web-scraper/1/1') Scrape An eBay Auction Listing
