html
    head
        include ../includes/head
        block head

    body#application
        header
            .container
                nav.pull-left
                    a#site-logo(href="/") Spark School
                nav#main-nav
                    form(action="/user/session/destroy" method="POST")
                        button Logout

        main
            .hero
                .container
                    block hero
            .container
                block content
