html
    head
        include ../includes/head
        block head

    body#application
        header
            div(class="container")
                nav(class="pull-left")
                    a(href="/" id="site-logo") Spark School

        main
            .hero
                .container
                    block hero
            .container
                block content
