html
    head
        include ../includes/head
        block head

    body#landing-page
        include ../includes/site-header

        main
            .section.light-gray.product-section
                .container
                    .description
                        h2 Build A SaaS Web App
                        p This 6 week course walks you step-by-step through building a Software as a Service (SaaS) web app with subscription payments. Whether you want to start your own software business or get a job as a web developer, this course will get you there.

                        p.bold In this course, you will:
                        ul
                            li Code a subscription based web app with Node.js and MySQL
                            li Deploy your web app to Heroku and set up a domain name
                            li Set up subscription based payments using Stripe
                            li Send transactional email with Mailgun
                            li Use Git and Github for code version control
                            li Set up Vagrant to manage our development environment
                    .graphic
                        form#signup-form(action='/user/beta/create' method='POST')
                            h3 Sign up for early access
                            .input-group.full-name-group
                                label(for='full-name') Full Name
                                input#full-name(type='text' name='full_name' placeholder='Ex. John Doe')
                            .input-group.email-group
                                label(for='email') Email
                                input#email(type='text' name='email' placeholder='user@domain.com')
                            .input-group.password-group
                                label(for='password') Password
                                input#password(type='password' name='password' placeholder='********')
                            button Get Early Access

            block content

            .section.dark-blue.signup-section
                .container
                    .description
                        h2 Sign up for beta access
                        p.light The course won't be officially released for a couple of months, but if you sign up for beta access, you can take it while it's being developed.  The first week of lessons will be released on January 16th.
                        p.light By the end of the course you will have a ready-to-sell subscription based SaaS web app. Sign up now to get the course before it's released.
                    .graphic
                        form#signup-form(action='/user/beta/create' method='POST')
                            h3 Sign up for early access
                            .input-group.full-name-group
                                label(for='full-name') Full Name
                                input#full-name(type='text' name='full_name' placeholder='Ex. John Doe')
                            .input-group.email-group
                                label(for='email') Email
                                input#email(type='text' name='email' placeholder='user@domain.com')
                            .input-group.password-group
                                label(for='password') Password
                                input#password(type='password' name='password' placeholder='********')
                            button.yellow Get Early Access
            .section
                .container
                    .description
                        h2 Meet The Instructor
                            p Hey, I'm Shane the creator of the Twitter clone course and I'm back to teach you how to build a SaaS web app.

                            p I've been a web developer for about 5 years and have worked at Yelp, Carfax and a startup called SumoMe. The crazy part is, I'm completely self taught.

                            p When I started teaching myself, I had no idea what I was doing and no one to point me in the right direction. Because of this, it took me longer than it should have to learn.

                            p I made mistakes when starting, but that doesn't mean you have to. This is the course I wish I had when I was starting!
                    .graphic
                        img.circle(src="https://s3.amazonaws.com/spark-school/me_and_yogi.png" alt="Shane Burkhart with his dog, Yogi.")

        include ../includes/ga
