.container
  .row
    .col-md-8
      - @blogs.each do |blog|
        %h2= link_to blog.title, blog_path(blog)
        .body
          = markdown(blog.body)
    .col-md-4.side-bar
      = render "side_bar"


