.container
  .row
    .col-md-7
      .blog
        %h2= link_to @blog.title, blog_title_path(@blog, @blog.link_title)
        .body
          = markdown(@blog.body)
    .col-md-4.col-md-offset-1.side-bar
      = render "side_bar"


