extends ../layouts/landing-page-no-header
include ../landing-pages/mixins

block variables
   - var title = 'Get Project 2 of Becoming a Software Developer!';

block no_hero

block content
    block extras
    .section.dark-blue.signup-section#sign-up
        .container
            .description
                h2.bold Get The Second Project!

                p The guide to becoming a software developer has learning resources to teach you how to be build a web application, but it's hard to piece together concepts as a beginner.  Learning like this will take you longer than if you learned everything in a single tutorial.

                p
                    b How much time will this course save?
                    | &nbsp;It normally takes 3 to 4 weeks to learn everything in project 2, but with the this course, you will learn everything in only 7 days!

                p.bold If you want to become a software developer as quickly as possible, this is the course for you!

                p
                    | When you purchase, you will receive the
                    b &nbsp;7-day PDF course
                    | &nbsp;that teaches you
                    b &nbsp;everything you need to learn in project 2 and more!

                p The course will walk you step-by-step through building a small version of Twitter.  In this course, you will learn how to:

                ul
                    li Code a web server in JavaScript using Node.js
                    li Build and style web pages with HTML and CSS
                    li Read and write to a database using SQL
                    li Run commands in the terminal
                    li Deploy your app to the web with Heroku
                    li And a lot more...

                br

                p.bold I highly recommend this course if you want to get a job as a software developer as quickly as possible.

            .graphic
                +twitter_purchase_form('/twitter-clone', query.email)

    +twitter_meet_the_instructor()

    +saas_signup_anchor_cta_section('Get The Course!')
