extends ../layouts/landing-page-no-header
include ../landing-pages/mixins

block variables
   - var title = 'Become A Software Developer Without A College Degree';
   - var fbImage = 'https://s3.amazonaws.com/spark-school/tutorials/nodejs-to-heroku/coding-on-a-laptop.jpg'
   - var fbType = 'product';
   - var description = 'It is more possible than ever to get a job as a software developer without a degree.  Take your first steps towards getting a job as a software developer.';

block no_hero

block content
    .section.dark-blue
        .container
            .description
                h2.bold Become A Software Developer Without A College Degree!

                p
                    | If you have ever wanted to become a software developer but thought you needed a college degree,
                    b &nbsp;think again!

                p
                    | Most software companies
                    b &nbsp;no longer require you have a college degree.
                    | &nbsp;Instead, they care far more about whether or not you know what you're doing. Because of this, there's
                    b &nbsp;never been a better time
                    | &nbsp;to teach yourself software development!

                p
                    | If you are interested in becoming a software developer, I highly recommend taking my
                    b &nbsp;FREE beginner's guide.
                    | &nbsp;This tutorial assumes you have
                    b &nbsp;no programming experience
                    | &nbsp;and is the
                    b &nbsp;first step
                    | &nbsp;towards becoming a software developer!

            .graphic
                +take_tutorial_form('/become-a-software-developer-without-a-college-degree')

    +short_twitter_meet_the_instructor()
