extends ../layouts/landing-page-no-header
include ../landing-pages/mixins

block variables
   - var title = 'Get The Complete Guide To Becoming A Software Developer!';

block no_hero

block content
    - currentQuery.email = currentQuery.email || '';

    .section.dark-blue.signup-section#sign-up
        .container
            .graphic
                img(src="/assets/images/guide-ebook-cover.jpg")

            .description
                h2.bold Get The Complete Guide To Becoming A Software Developer!
                p The email series you signed up for will teach you how to get a job as a software developer, but you'll only receive one email a week.
                p.bold If you would rather learn at your own pace, I'm offering the full process as a guide for only $7.
                p
                    | In this guide, we'll break down exactly what you need to do to go from no programming experience to getting a job as a software developer.
                    b &nbsp;I taught myself how to be a software developer and I know you can too!

                a.button.block.bright-yellow(href='/the-full-guide-to-becoming-a-software-developer?email=' + currentQuery.email)
                    | Get
                    b &nbsp;The Complete Guide
                    | &nbsp;For Only $7!

    +guide_meet_the_instructor()

    .section.cta.light-gray
        .container
            a.button(href='/the-full-guide-to-becoming-a-software-developer?email=' + currentQuery.email) Learn more about the full guide!
