extends ../layouts/landing-page-no-header
include ../landing-pages/mixins

block variables
   - var title = 'Learn How To Build A Twitter Clone In 7 Days';
   - var fbImage = 'http://trysparkschool.com/assets/images/learn-to-code-in-7-days.png';
   - var fbType = 'product';
   - var description = 'Go from zero coding skills to building a Twitter clone from scratch in 7 days.';

block no_hero

block content
    .section.dark-blue
        .container
            .description
                h2.bold Become A Software Developer Without A College Degree!

                p
                    | If you have ever wanted to become a software developer but thought you needed a college degree,
                    b &nbsp;think again!

                p
                    | Most software companies
                    b &nbsp;no longer require you have a college degree.
                    | &nbsp;Instead, they care far more about whether or not you know what you're doing. Because of this, there's
                    b &nbsp;never been a better time
                    | &nbsp;to teach yourself software development!

                p
                    | If you are interested in becoming a software developer, I highly recommend taking my
                    b &nbsp;FREE beginner's guide.
                    | &nbsp;This tutorial assumes you have
                    b &nbsp;no programming experience
                    | &nbsp;and is the
                    b &nbsp;first step
                    | &nbsp;towards becoming a software developer!

            .graphic
                form.signup-form.text-center
                    h3.bold Take the first step!
                    a.button.block(href='/tutorials/build-and-deploy-nodejs-app-to-heroku/intro') Click here to start the FREE tutorial!

                    br
                    br

                    h3.bold Don't have time right now?
                    p.light Enter your email and we'll send the tutorial to you so you can take it later.
                    .input-group
                        input(type='text' name='email' placeholder='Enter your email' value=email)
                    button.yellow Take the tutorial later

    +short_twitter_meet_the_instructor()
