extends ../layouts/landing-page-no-header
include ../landing-pages/mixins

block variables
   - var title = 'Get Project 2 of Becoming a Software Developer!';

block no_hero

block content
    block extras
    .section.dark-blue.signup-section#sign-up
        .container
            .description
                h2.bold Get The Second Project!

                p The guide to becoming a software developer has learning resources to teach you how to be build a web application, but it's hard to piece together concepts as a beginner.  Learning like this will take you longer than if you learned everything in a single tutorial.

                p
                    b How much time will this course save?
                    | &nbsp;It normally takes 3 to 4 weeks to learn everything in project 2, but with the this course, you will learn everything in only 7 days!

                p.bold If you want to become a software developer as quickly as possible, I'm offering project 2 as a course for $29!

                p
                    | When you purchase, you will receive the
                    b &nbsp;7-day PDF course
                    | &nbsp;that teaches you
                    b &nbsp;everything you need to learn from project 2 and more!

                p The course walks you step-by-step through building a small version of Twitter.  In this course, you will learn how to:

                ul
                    li Code a web server in JavaScript using Node.js
                    li Build and style web pages with HTML and CSS
                    li Read and write to a database using SQL
                    li Run commands in the terminal
                    li Deploy your app to the web with Heroku
                    li And a lot more...

                br

                p.bold I highly recommend this course if you want to get a job as a software developer as quickly as possible.

            .graphic
                form.signup-form#paypal-form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
                    h3 Get the course for $29!
                    p.light We'll send the course to your PayPal email.
                    input(type="hidden" name="cmd" value="_s-xclick")
                    input(type="hidden" name="hosted_button_id" value="S7VF865JX84QU")
                    input(type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!")
                    img(alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1")


                form.signup-form#payment-form(action='/twitter-clone/purchase' method='POST')
                    h3.text-center.margin-small Or pay with a credit card!

                    +error_notice()

                    input(type='hidden' name='origin' value='/become-a-software-developer-project-2')

                    +payment_cc_fields()

                    button.yellow Get the course for $29!

                +payment_form_scripts()

    .section
        .container
            .description
                h2 Meet The Instructor
                p Hey, I'm Shane! I’ve been a software developer for a little over 5 years now, and have worked at Yelp, Carfax, and a startup called SumoMe.

                p The crazy part is I didn’t go to school to be a software developer. In fact, I am completely self taught.

                p Probably not unlike some of you, when I first started learning to code, I didn't know what I was doing so it took me much longer than it should have to learn. My goal is to fix that. This course is designed so you don't ever have to go through the same unnecessarily long process I did.

                p I've spent the last 5 years teaching myself software development and over time, I have learned what works and what doesn't. Now, I want to use my course to help you learn as efficiently as possible.
            .graphic
                img.circle(src="https://s3.amazonaws.com/spark-school/me_and_yogi.png" alt="Shane Burkhart with his dog, Yogi.")

    +light_gray_CTA_anchor_section('Get The Course!')
