extends ../layouts/landing-page

block bg
    .bg(style="background-image: url('/assets/images/bg.png')")

block hero
    h1 Learn How To Build A Twitter Clone
    p Go from zero coding skills to building a Twitter clone from scratch in 7 days.
    a.button.yellow(href='/signup') Sign Up For Beta Access

block overview
    h2 Build A Twitter Clone
    p If you've tried or thought about building a web app, you've probably asked yourself these questions: "How do I get started?", "What do I learn first?", "Am I making mistakes?"


block list
    ul
        li No coding skills required
        li Finish the course in 7 days
        li It's completely free

block content
    .section.light-gray
        .container
            .graphic.bullet-points
                ul
                    li No coding skills required
                    li Finish the course in 7 days
                    li It's completely free
            .description
                h2 Build A Twitter Clone
                p My first course for the platform is going to be a six-week course to build a Software as a Service (SaaS) web app with subscription payments. We will dive deeper into the concepts we learned building the Twitter clone course, while also incorporating professional level development tools and techniques. It won’t be officially released until March, but with Beta access you’ll get the first week’s lesson two weeks from now.
    .section
        .container
            .description
                h2 Build A Twitter Clone
                p You’ll have beta access until we launch in March. During that time, you’ll have the opportunity to give feedback and guide the course. Help me make this course great.
            .graphic.bullet-points
                ul
                    li No coding skills required
                    li Finish the course in 7 days
                    li It's completely free
