extends ../layouts/landing-page-no-header
include ../landing-pages/mixins

block variables
   - var title = 'Cheat Sheet Download';

block no_hero

block content
    .section.tiny
        .container
            .full
                h1 Awesome! Here's the free cheat sheet
                p
                    | Your download should start in just a moment. If it doesn't start,
                    a(href="https://s3.amazonaws.com/spark-school/tutorials/nodejs-to-heroku/node-and-heroku-cheat-sheet.pdf") &nbsp;click here to download it.
                p.bold Keep reading if you're interested in the whole process to becoming a developer.

    .section.dark-blue.signup-section#sign-up
        .container
            .description
                h2.bold Get The Full Guide To Becoming A Software Developer!
                p The tutorial you are taking is just the first step to becoming a software developer.
                p.bold If you want every step to becoming a software developer, I'm offering the full process as a guide for only $7.
                p
                    | In this guide, I'll break down exactly what you need to do to go from no programming experience to getting a job as a software developer.
                    b &nbsp;I taught myself how to be a software developer and I know you can too!
                p
                    | Click the button to the right to learn more about the
                    b &nbsp;full guide to getting a job as a software developer.

            .graphic
                .signup-form
                    h3 Get the full guide for only $7!
                    p.light
                        | This guide breaks down exactly what you need to do to go from
                        b &nbsp;no programming experience
                        | &nbsp;to getting a
                        b &nbsp;job as a software developer.
                    a.button.block.yellow(href='/the-full-guide-to-becoming-a-software-developer-cheat-sheet?email=' + query.email) Learn More About The Full Guide

    +short_twitter_meet_the_instructor()

    .section.cta.light-gray
        .container
            a.button(href='/the-full-guide-to-becoming-a-software-developer-cheat-sheet?email=' + query.email) Learn more about the full guide!

    iframe.hidden(src="https://s3.amazonaws.com/spark-school/tutorials/nodejs-to-heroku/node-and-heroku-cheat-sheet.pdf")

    +weekly_email_series_lead_tracking()
