extends ../layouts/landing-page-no-header
include ../landing-pages/mixins

block variables
   - var title = 'Complete Guide To Becoming A Software Developer Download';

block no_hero

block content
    - currentQuery.email = currentQuery.email || ''

    iframe.hidden(src="https://s3.amazonaws.com/spark-school/guide-to-becoming-a-software-developer.pdf")
    +lead_tracking()

    .section.tiny
        .container
            .full
                h1 Thanks! Keep reading for a special offer!
                p
                    a(href="https://s3.amazonaws.com/spark-school/guide-to-becoming-a-software-developer.pdf") Click here if your download doesn't start automatically.
                    |  Keep reading for a
                    b  limited time offer!

    .section.tiny.dark-blue.signup-section#sign-up
        .container
            .description
                h2.bold Make the transition to developer!
                p
                    | For the next 24 hours, I'm offering you 70% off the course where
                    b  you will make the transition to a software developer!
                p
                    | In 7 days, you will go from no programming experience to building a small version of Twitter.
                    b  No prior knowledge required!
                p
                    b Don't miss out on this limited time offer!
                    |  Purchase in the next 24 hours to get this course for only $9!

            .graphic
                .signup-form
                    h3.bold 70% off for the next 24 hours!

                    p.light
                        | This course is where you will make the
                        b  transition to a software developer.
                        |  Don't miss out on this limited time offer!
                    if abTests.tripwire_teaser
                        a.button.block.yellow(href='/twitter-clone-course-24-hour-sale?email=' + currentQuery.email) Learn more about the course!
                    else
                        a.button.block.yellow(href='/twitter-clone-course-24-hour-sale-checkout?email=' + currentQuery.email) Get the course for only $9!

    if !abTests.tripwire_teaser
        .section.small
            .container
                .graphic
                    img(src='/assets/images/monitor-on-desk.png' alt='Illustration of monitor on desk with code.')
                .description
                    h2 Develop on your computer
                    p A lot of coding courses don't teach you how to build projects on your own computer. Instead, they teach you how to write code in a web browser.  This misses the entire point!
                    p
                        b Professional developers write code on their own computers so why wouldn't you?
                    p
                        | This course teaches you how to write and run code on your own computer
                        b &nbsplike you would at a real software company.

        .section.small.light-gray
            .container
                .description
                    h2 Learn as efficiently as possible
                    p I am a completely self-taught developer, so I know how slow it can be to teach yourself how to code.
                    p
                        | Over the years, I have learned what works and what doesn't. Now I'm using this knowledge to
                        b &nbsp;teach you as efficiently as possible!
                .graphic
                    img(src='/assets/images/hello-world-code-snippet.png' alt='Hello world program in Express.js.')

        .section.small
            .container
                .graphic
                    img(src='/assets/images/web-pages-illustration.png' alt='Hello world program in Express.js.')
                .description
                    h2 Build projects from scratch
                    p
                        | To get a job as a software developer, you need a portfolio of projects. Unfortunately, you probably don't have the knowledge to build a project on your own yet.
                        b &nbsp;This course will change that!
                    p
                        | By the end of this course, you will know
                        b &nbsp;everything you need to build your own projects from scratch!

        .section.small.light-gray
            .container
                .description
                    h2 Get help from me personally
                    p When learning how to code, you are going to run into problems. Normally, you are left to figure them out on your own which is frustrating and time-consuming as a beginner.
                    p I want to make sure you can get help as quickly as possible, so when you purchase, you will be invited to a
                        b  Facebook group where you can ask me questions personally.
                        |  If you get stuck, I'll be there to help :)
                .graphic
                    img(src='/assets/images/fb-logo.png' alt='Facebook logo' style='padding: 0px 75px;')

        .section.small
            .container
                .graphic
                    img(src='/assets/images/money-back-guarantee.png' alt='Seal for 100% back money guarantee' style='padding: 0px 70px;')
                .description
                    h2 100% money back guarantee
                    p I'm so confident in this course that if at any time you aren't completely satisfied, I'll give you a full refund!
                    p All you have to do is send me an email telling me why you aren't satisfied with the course, and I will refund 100% of your purchase!

        .section.small.dark-blue.signup-section#sign-up
            .container
                .description
                    h2.bold Build A Small Version Of Twitter!
                    p
                        | In this 7-day course, you will build a
                        b &nbsp;small version of Twitter from scratch.

                    p.bold By the end of the course, you will know how to:

                    ul
                        li Code a complex web server in JavaScript using Node.js
                        li Read and write Tweets to a database using SQL
                        li Build and style web pages with HTML and CSS
                        li Deploy your app to the web with Heroku
                        li
                            b And a lot more!

                .graphic
                    .signup-form
                        h3.bold Transition to a developer!
                        p.light
                            | This course will teach you everything you need to
                            b &nbsp;build your own projects
                            | &nbsp;and is where you will make the
                            b &nbsp;transition to a software developer.
                        a.button.block.yellow(href='/twitter-clone-course-24-hour-sale-checkout?email=' + currentQuery.email) Get the course for only $9!

    .section
        .container
            .description
                h2 Meet The Instructor
                p Hey, I'm Shane! I’ve been a software developer for a little over 5 years now, and have worked at Yelp, Carfax, and a startup called SumoMe.

                p The crazy part is I didn’t go to school to be a software developer. In fact, I am completely self-taught.

                p Probably not unlike some of you, when I first started learning to code, I didn't know what I was doing so it took me much longer than it should have to learn. My goal is to fix that. This course is designed so you don't ever have to go through the same unnecessarily long process I did.

                p I've spent the last 5 years teaching myself software development and over time, I have learned what works and what doesn't. Now, I want to use my course to help you learn as efficiently as possible.
            .graphic
                img.circle(src="https://s3.amazonaws.com/spark-school/me_and_yogi.png" alt="Shane Burkhart with his dog, Yogi.")

    .section.cta.light-gray
        .container
            if abTests.tripwire_teaser
                a.button.block(href='/twitter-clone-course-24-hour-sale?email=' + currentQuery.email) Learn more about the course!
            else
                a.button.block(href='/twitter-clone-course-24-hour-sale-checkout?email=' + currentQuery.email) Get the course for 70% off!
