extends ../landing-pages/twitter-clone-course

block variables
   - var title = 'You guide is on it\'s way!';

prepend no_hero
    .section.micro
        .container
            .full
                h2.bold Your guide is on it's way!
                p
                    | Thanks for signing up!
                    b  You will receive an email with your guide shortly.
