extends ../layouts/landing-page
include ../landing-pages/mixins

block variables
   - var title = 'Create Heroku App With Node.js';
   - var fbImage = 'https://trysparkschool.com/assets/images/learn-to-code-in-7-days.png';

block hero
    p.shout
        | Get the&nbsp;
        span.underline FREE
        |  course!
    h1 How to Use Heroku to Create a New App 
    p Go from zero knowledge about coding or using Heroku to deploy a Node.js app from scratch in 7 days.
    a.button.yellow(href='/signup') Get The Free Course

block content
    .section
        .container
            .description
                h2 Using Heroku to create a Node App 
                p This course walks you step-by-step through building a full-stack web app using Node.js and MySQL, then how to deploy your existing app to Heroku. In 7 days, you'll have a website that can create, read, update and delete Tweets.
            .graphic.bullet-points
                ul
                    li Straightforward Heroku example
                    li It's absolutely FREE!
                    li No coding skills required

    .section.light-gray
        .container
            .graphic
                img(src='/assets/images/monitor-on-desk.png' alt='Illustration of monitor on desk with code.')
            .description
                h2 Develop and deploy on your computer
                p This course teaches you how to build a real use case web app and how to deploy on Heroku.  We'll cover everything you need to know from writing code on your computer to deploying your Twitterclone to the web. This is the perfect Heroku Node.js tutorial. 

    .section
        .container
            .description
                h2 Start at the basics
                p If you've tried or thought about building a web app and where to host them, you've probably asked yourself these questions: "How do I get started?", "What do I learn first?", "Am I making mistakes?", "How do I deploy my app on Heroku?"  If you have never thought about building a web app but want to get into programming or have an existing app that you are trying to learn how to deploy, this is the place to start. 
                p The course starts with the basics and assumes you have no programming experience. By learning how to build your own twitter clone in Node.JS and deploying to Heroku you will gain the skills necessary to create your own heroku app. 
            .graphic
                a(href='/signup')
                    img(src='/assets/images/start-here-mac-window.png' alt='Mac window with button saying "Start Here".')

    .section.light-gray
        .container
            .bullet-points
                ul
                    li Continuous Deployment to Heroku
                    li Secure yourself from SQL attacks
                    li Learn CRUD routes
            .description
                h2 Learn the best practices efficiently
                p Learning how to build and host an entire web app is a lot to cover so the course makes sure to focus on the most important practices you will need to build your own web apps. It isn't useful to dive into learning something that you aren't going to use, but it is crucial to learn best practices while building a web app. 

    .section.dark-blue.signup-section
        .container
            .graphic
                +twitter_signup_form()
            .description
                h2 Sign up for the free course
                p.light In this course, you will learn how to:
                ul
                    li Code a web server in JavaScript using Node.js
                    li Build and style web pages with HTML and CSS
                    li Read and write to a database using SQL
                    li Run commands in the terminal
                    li Deploy your app to the web with Heroku
                    li And a lot more...

    +twitter_meet_the_instructor()

    +cta_section('Sign Up For The FREE Course')
