extends ../layouts/landing-page
include ../landing-pages/mixins

block variables
   - var title = 'Learn Coding & Web Development - Content Posts';
   - var fbImage = 'http://trysparkschool.com/assets/images/bg.png';
   - var description = 'Posts - Learn Coding & Web Development Facebook group';

block main_nav
block no_hero

block content 
    .section.small
        .container
            .full
                h1 Coding & Web Development Historical Posts 
                p This is a list of resources that have been posted in the group. These links aim to give beginners as many resources as possible to progress as a software developer. These resources are divided up by stages of learning to become a programmer. 
                h3 Just Starting Out
                p Be patient young grasshopper
                h3 Know the basics of languages
                a(href="https://try.github.io/levels/1/challenges/1") Learn Git & Github
                p Used for code version control. Makes it easier to collaborate with others. Employers use some version of this.
                a(href="https://www.codecademy.com/learn/learn-the-command-line") Command line basics
                p If you're going to become a software developer, you need to learn the command line. Nearly all projects will require you to use the command line, making it a skill that all developers will have to know. 
                h3 Building Webs Apps
                a(href="https://www.quora.com/As-a-programmer-what-tasks-have-you-automated-to-make-your-everyday-life-easier") Get Project Ideas 
                p Here's a Quora question that has a great list of programs that people made to automate & improve their lives. Building applications to solve problems you have is perhaps the best ways to learn programming.
                a(href="https://devcenter.heroku.com/articles/deploying-nodejs") Host your web app to a server for free using Heroku
                p Heroku is a web hosting platform that makes it effortless to deploy your application to a web server. It's a freemium model, but you can see what it looks like! 
                a(href="https://www.namecheap.com/") Find a domain for your website
                p You can use this to buy a cheap domain name for your website.
                a(href="https://devcenter.heroku.com/articles/custom-domains") Point your unique domain name to your Heroku-hosted app for your website. 
                p You need a unique domain name if you want to send someone to your website.
                a(href="https://blog.hubspot.com/marketing/free-stock-photos") 20 of the Best Free Stock Photo Sites
                p If you're building a website, you need good visions. My favorite are 
                    a(href="https://stocksnap.io/") Stocksnap.io, 
                    a(href="https://picjumbo.com/") Picjumbo.com, 
                    a(href="http://isorepublic.com/") and isorepublic.com
                