extends ../layouts/landing-page
include ../landing-pages/mixins

block variables
   - var title = 'Learn Coding & Web Development - Content Posts';
   - var fbImage = 'http://trysparkschool.com/assets/images/bg.png';
   - var description = 'Posts - Learn Coding & Web Development Facebook group';

block main_nav
block no_hero

block content 
    .section.small
        .container
            .full
                h1 Coding & Web Development Rules and Guidelines 
                p By joining the group, you are agreeing to some simple ground rules to help keep the group productive and useful for everyone involved. If any of the rules are broken, the admin will not hesitate to moderate conversations and/or remove violators from the group.  
                h3 1. Be kind to one another 
                p This is a friendly, education group for people to learn how to program and become software developers. When posting or asking questions, members should be respectful to one another. Constructive feedback is wonderful, but being rude will not be tolerated. Please remain respectful at all times.
                h3 2. Share only related content
                P If it is related to coding, awesome! If not, it will be deleted.
                h3 3. No self-promotion or affiliated links
                p Please share related free content you made, but if you are trying to sell something, consult, or coach someone it will be removed. If you want to share something with the group that might break this guideline, contact an admin. If someone requests it, then you may share it; however, if the same few things continually get shared, it'll likely be deleted and the user will be removed. 
                h3 4. Nothing illegal or plagiarized
                P  You may not share a pirated or free download link, even if it is relevant content to the group. Similarly, don't copy someone else's work and post it to the group. Please source your work and link accordingly. 
                h3 5. Report to admin
                p Please report anything you think is spam or junk posts to the admin. And we'll also try to keep spam to a minimum. 
                h4.bold Ultimately: be nice, be constructive, and do not promote a good or service. Thanks! Grayson and Shane 