extends ../layouts/landing-page
include ../landing-pages/mixins

block variables
   - var title = 'Learn Coding & Web Development - Rules';
   - var fbImage = 'http://trysparkschool.com/assets/images/bg.png';
   - var description = 'Rules for Learn Coding & Web Development Facebook group';

block main_nav
block no_hero

block content 
    .section
        .container
            .full
                h1 Coding & Web Development Rules and Guidelines 
                p Congratulations, you now have the full guide to becoming a software developer. While learning, it's important that you surround yourself with others that are also learning.  We all know that sometimes it takes just one person to ruin a good thing… 
                p And that’s why we need to set some ground rules. By being a part of the Newbie Coder Warehouse FB Group, you are agreeing to the following: 
                h2 1. BEING A NICE PERSON 
                p Constructive feedback is fine. But saying something with the intention of being mean, or to hurt someone’s feelings, is not cool. This is a group designed to support one another in the learning to code journey. Please be respectful at all times! 
                h2 2. NO PROFANITY 
                pAs a general rule: if it’s not allowed on cable TV, it shouldn’t be said here, either.
                h2 3. NO SHAMELESS SELF-PROMOTION 
                p Sharing a helpful article you wrote or video you created is fine. (Within reason…please do not repeatedly share your content in a spammy manner!) Promoting your own products or services is not.* This includes, but is not limited to: Offering “consultations” or “coaching” Your eBook Your membership site And related 
                h2 4. NO DIRECT AFFILIATE LINKS 
                p If you don’t know what an affiliate link is, don’t worry. You won’t run the risk of doing this. If you know what affiliate links are, do not directly link to products using your own tracking code. This is not the place for trying to make some extra money. ** 
                h2 5. SHARE RELEVANT INFORMATION ONLY 
                p Example: no articles on Kim Kardashian, plz. Unless she’s coding.*** Relevancy is key. 
                h2 6. NO PLAGIARISM 
                p Copying and pasting a quote or short paragraph is okay. Do not copy and past large quantities of text—especially from another online publication, Stackoverflow, Reddit, or otherwise. Please just share the link if you find the information useful. Note: At all times me (Laurence Bradford) and other Facebook group admins reserve the right to delete posts, pictures, videos, comments, and ban members from the group entirely. In the end: be nice, be helpful, don’t post for the sole purpose of promoting yourself/services/product, and we’ll all have a good time. Thanks! Laurence * Exception being if a person asks about a product/service, you have said product/service, and you link to it in the comment thread. The key thing here is a person is asking about it. ** If you share an article/resource that has affiliate links, that is fine. I use affiliate links on my own site: I get it. But please make sure the article/resource is high-quality and relevant to the group. *** Please share if Kimmy K is coding.