extends ../layouts/landing-page
include ../landing-pages/mixins

block variables
   - var title = 'Learn How To Build A Twitter Clone In 7 Days';
   - var fbImage = 'https://trysparkschool.com/assets/images/learn-to-code-in-7-days.png';

block hero
    p.shout
        | Get the&nbsp;
        span.underline FREE
        |  course!
    h1 Build Your First Full-Stack Web App
    p Go from zero coding skills to building a Twitter clone from scratch in 7 days.
    a.button.yellow(href='/signup') Get The Free Course

block content
    .section
        .container
            .description
                h2 Build A Twitter Clone
                p This course walks you step-by-step through building a full-stack web app using Node.js and MySQL. In 7 days, you'll have a website that can create, read, update and delete Tweets.
            .graphic.bullet-points
                ul
                    li No coding skills required
                    li Build a web app in 7 days
                    li It's absolutely FREE!

    .section.light-gray
        .container
            .graphic
                img(src='/assets/images/monitor-on-desk.png' alt='Illustration of monitor on desk with code.')
            .description
                h2 Develop on your computer
                p A lot of coding courses teach you how to code, but don't leave you with anything practical. This course teaches you how to build a real use case web app.  We'll cover everything you need to know from writing code on your computer to deploying your Twitterclone to the web.

    .section
        .container
            .description
                h2 Start at the basics
                p If you've tried or thought about building a web app, you've probably asked yourself these questions: "How do I get started?", "What do I learn first?", "Am I making mistakes?" Even if you have never thought about building a web app but want to get into programming, this is the place to start. 
                p The course starts with the basics and assumes you have no programming experience. By learning how to build your own twitter clone in Node.JS you will gain a deep insight into building an actual web app instead of just learning a lanaguage. 
            .graphic
                a(href='/signup')
                    img(src='/assets/images/start-here-mac-window.png' alt='Mac window with button saying "Start Here".')

    .section.light-gray
        .container
            .graphic
                img(src='/assets/images/hello-world-code-snippet.png' alt='Hello world program in Express.js.')
            .description
                h2 Learn efficiently
                p Learning how to build an entire web app is a lot to cover so the course makes sure to teach you only what you need to build your own web apps.  It isn't useful to dive into learning something that you aren't going to use.

    .section.dark-blue.signup-section
        .container
            .graphic
                +twitter_signup_form()
            .description
                h2 Sign up for the free course
                p.light In this course, you will learn how to:
                ul
                    li Code a web server in JavaScript using Node.js
                    li Build and style web pages with HTML and CSS
                    li Read and write to a database using SQL
                    li Run commands in the terminal
                    li Deploy your app to the web with Heroku
                    li And a lot more...

    +twitter_meet_the_instructor()

    +cta_section('Sign Up For The FREE Course')
