extends ../layouts/landing-page-no-header
include ../landing-pages/mixins

block variables
   - var title = 'Make The Transition To A Software Developer!';

block no_hero
    .section.small.dark-blue
        .container
            .full.text-center
                h1
                    span.light How My Course Helped Rodrigo
                    br
                    b(style="font-size: 64px;") Build 3 of His Own Projects

    .section.light-gray.quote
        .small-container
            .full
                img.circle(src="/assets/images/rodrigo-pontes.jpg" style="width: 100px;")
                blockquote
                    | "I tried other learning resources, but
                    b  I never found a better or more exciting course for beginners!"
                p.name Rodrigo Pontes

    .section.small
        .container
            .half
                h2 The Problem
                p Rodrigo decided he was going to make a career change to a software developer, so he explored various learning resources.
                p
                    | After finishing a few course, he
                    b  ran into the same issue most people run into.
                    |  He didn't know how to use what he learned to build his own projects.
            .half
                h2 The Results
                p Rodrigo signed up for my course and built his first web app in only 7 days. He then continued adding his own style and feature to make the course his own.
                p
                    | From there, he was able to use his knowledege from my course to
                    b  build another website and is now working on a Facebook Messenger bot!

    .section.tiny.light-gray
        .container
            .description
                h2 He Tried Other Resources
                p At the age of 37, Rodrigo decided it was time to start a career as a software developer.  He tried various resources like Lynda and Codecademy, but settled on Free Code Camp.
                p
                    | After getting 25% of the way through, he realized he needed to learn more than just how to code.
                    b  He needed to learn how to build his own project.
                p
                    | Rodrigo continued his search for learning resources but nothing seemed to fit.
                    b  That is until he found my course!
            .graphic
                img(src="/assets/images/illustration-of-guy-on-laptop.png")

    .section.tiny.light-gray
        .container
            .graphic
                img(src="/assets/images/rodrigos-hacker-news-opinion-app.png")
            .description
                h2 Building His First Web App
                p In 7 days, Rodrigo completed my course and built his first web app from scratch. But he wasn't done there!
                p With his new knowledge, Rodrigo was able to transform the website he just built into a Hacker News opinion forum.
                p
                    | He posted his project to Hacker News (naturally) and was greeted with a surprise.
                    b  Someone was trying to attack his website!
                p Luckily, my course taught him how to secure his site against common vulnerabilities so the attacker had no luck!

    .section.tiny.light-gray
        .container
            .description
                h2 Now He's Working On His Own Projects
                p After finishing his Hacker News website, Rodrigo wanted to use his new skills to work on some of his own project ideas.
                p
                    | From the beginning, his mission has always been to help people manage and track their personal goals.
                    b  So he built a website to do just that!
                p
                    | Now he's taking his idea one step further and
                    b  building a Facebook Messenger bot
                    |  to help people stay accountable to their goals!
                p
                    | Rodrigo was able to build all three of these projects because
                    b  my course taught him everything he need to know to build his own projects.
            .graphic
                img(src="/assets/images/rodrigos-personal-growth-tracker-app.png")

    .section.small
        .container
            .description
                h2 What makes my course different?
                p Most courses assume you already have some kind of knowledge which makes it hard for beginners to get started. On top of that, a lot of course teach you how to code, but don't teach you how to use what you learned to build your own projects.
                p
                    | My course takes a different approach and teaches you not only how to code but also
                    b  how to build your own projects from scratch.
                    |  The best part is, my course starts at the basics and
                    b  assumes you have no programming experience!
                p
                    | If you are a beginner and want to learn how to
                    b  build projects like real software developers,
                    |  my course will get you there!
            .graphic
                .bullet-points
                    ul
                        li No prior knowledge required!
                        li Learn how to build your own projects.
                        li Do it all in only 7 days!

    .section.light-gray.quote
        .small-container
            .full
                img.circle(src="/assets/images/rodrigo-pontes.jpg" style="width: 100px;")
                blockquote "This course does a great job of guiding you on what to install and how to use it.  It sounds too basic, but I would've never figured it out on my own!"
                p.name Rodrigo Pontes

    .section.dark-blue.signup-section#sign-up
        .container
            .description
                    h2.bold Learn How To Build Your Own Projects Like Rodrigo!
                    p
                        | This course teaches you the fundamentals of software development and is where
                        b &nbsp;you will learn how to build your own projects like Rodrigo!
                    p
                        | In 7 days, you will go from no programming experience to building a small version of Twitter.
                        b  No prior knowledge required!
                    p This is my favorite course because, by the end, you will make the transition to a software developer!
                    p.bold I highly recommend this course if you want to build software like you would at a real software company!

            .graphic
                .signup-form
                    h3.bold Get the course for $29!
                    p.light
                        | This course will teach you everything you need to
                        b &nbsp;build your own projects
                        | &nbsp;and is where you will make the
                        b &nbsp;transition to a software developer.
                    a.button.block.yellow(href='/twitter-clone-course-checkout?email=' + currentQuery.email) Get the course for $29!

