extends ../layouts/landing-page-no-header
include ../landing-pages/mixins

block variables
   - var title = 'Presidents\' Day Sale!';

block bg
    .bg(style="background-image: url('/assets/images/american_flag.jpg')")

block hero
    - currentQuery.email = currentQuery.email || '';

    h1 Presidents' Day Sale!
    p.narrow
        | Get 35% off on the course that
        b &nbsp;transitions you to a software developer!
    a.button.yellow(href='/presidents-day-sale-checkout?email=' + currentQuery.email) Make the transition to a software developer!

block content
    - currentQuery.email = currentQuery.email || '';

    .section.dark-blue.signup-section#sign-up
        .container
            .description
                h2.bold Presidents' Day Sale!

                p
                    | For today only, I am offering a
                    b &nbsp;35% discount on the course where you will make the transition to a software developer!

                p This is my favorite course because, by the end, you will know how to build your own software projects from scratch!

                p
                    b Don't miss out on this limited time offer!
                    | &nbsp;Purchase in the next 24 hours to get this course for only $19!

                p
                    b Normally this course sells for $29, but if you purchase today, you can get it for just $19!
                    | &nbsp;Click the link to learn more.

            .graphic
                .signup-form
                    h3.bold 35% off for the next 24 hours!

                    p.light
                        | This course is where you will make the
                        b &nbsp;transition to a software developer.
                        | &nbsp;Don't miss out on this special holiday offer!

                    a.button.block.yellow(href='/presidents-day-sale-checkout?email=' + currentQuery.email) Get the course for only $19!

    .section
        .container
            .graphic
                img(src='/assets/images/monitor-on-desk.png' alt='Illustration of monitor on desk with code.')
            .description
                h2 Develop on your computer
                p A lot of coding courses don't teach you how to build projects on your own computer. Instead, they teach you how to write code in a web browser.  This misses the entire point!
                p
                    b Professional developers write code on their own computers so why wouldn't you?
                p
                    | This course teaches you how to write and run code on your own computer
                    b &nbsplike you would at a real software company.

    .section.light-gray
        .container
            .description
                h2 Learn as efficiently as possible
                p I am a completely self-taught developer, so I know how slow it can be to teach yourself how to code.
                p
                    | Over the years, I have learned what works and what doesn't. Now I'm using this knowledge to
                    b &nbsp;teach you as efficiently as possible!
            .graphic
                img(src='/assets/images/hello-world-code-snippet.png' alt='Hello world program in Express.js.')

    .section
        .container
            .graphic
                img(src='/assets/images/web-pages-illustration.png' alt='Hello world program in Express.js.')
            .description
                h2 Build projects from scratch
                p
                    | To get a job as a software developer, you need a portfolio of projects. Unfortunately, you probably don't have the knowledge to build a project on your own yet.
                    b &nbsp;This course will change that!
                p
                    | By the end of this course, you will know
                    b &nbsp;everything you need to build your own projects from scratch!

    .section.cta.light-gray
        .container
            a.button.block(href='/presidents-day-sale-checkout?email=' + currentQuery.email) Get the course for only $19!

    .section
        .container
            .description
                h2 Meet The Instructor
                p Hey, I'm Shane! I’ve been a software developer for a little over 5 years now, and have worked at Yelp, Carfax, and a startup called SumoMe.

                p
                    | The crazy part is I didn’t go to school to be a software developer. In fact,
                    b &nbsp;I am completely self-taught.

                p
                    | Probably not unlike some of you, when I first started learning to code, I didn't know what I was doing so it took me much longer than it should have to learn.
                    b &nbsp;My goal is to fix that.
                    | &nbsp;This course is designed so you don't ever have to go through the same unnecessarily long process I did.

                p
                    | I've spent the last 5 years teaching myself software development and over time, I have learned what works and what doesn't.
                    b &nbsp;Now, I want to use my course to help you learn as efficiently as possible.
            .graphic
                img.circle(src="https://s3.amazonaws.com/spark-school/me_and_yogi.png" alt="Shane Burkhart with his dog, Yogi.")


    .section.cta.light-gray
        .container
            a.button.block(href='/presidents-day-sale-checkout?email=' + currentQuery.email) Get the course for 35% off!
