extends ../layouts/landing-page-no-header
include ../landing-pages/mixins

block variables
   - var title = 'Get The Course 50% Off For 48 Hours Only!';

block no_hero

block content
    block extras
    .section.dark-blue.signup-section#sign-up
        .container
            .description
                h2.bold 50% Off The Course For Project 2!

                p.bold For the next 48 hours, you can purchase the course at 50% off!

                p
                    | As a beginner, it's difficult to piece together concepts for project 2. To fix this, I made a
                    b &nbsp;7-day course that walks you step-by-step through project 2.

                p
                    | In this course, you will build a
                    b &nbsp;small version of Twitter
                    | , since building a smaller version of an existing web app is the best way to learn.

                p.bold By the end of the course, you will know how to:

                ul
                    li Code a complex web server in JavaScript using Node.js
                    li Read and write Tweets to a database using SQL
                    li Build and style web pages with HTML and CSS
                    li Deploy your app to the web with Heroku
                    li And a lot more!

                br

                p
                    | When you purchase, you will receive the
                    b &nbsp;7-day PDF course
                    | &nbsp;that teaches you
                    b &nbsp;everything for project 2 and more!

                p.bold If you purchase in the next 48 hours, you can get the course for only $25! (50% off)

                p I highly recommend this course if you want to learn efficiently and get a job as a software developer as quickly as possible!

            .graphic
                form.signup-form#paypal-form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
                    h3
                        | Get the course for&nbsp;
                        span(style="text-decoration: line-through;") $49
                        b &nbsp;$
                        b(style="font-size: 36px") 25!
                    p.light We'll send the course to your PayPal email.
                    input(type="hidden" name="cmd" value="_s-xclick")
                    input(type="hidden" name="hosted_button_id" value="7DTRYSP8TH722")
                    input(type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!")
                    img(alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1")


                form.signup-form#payment-form(action='/twitter-clone-48-hour-sale/purchase' method='POST')
                    h3.text-center.margin-small Or pay with a credit card!

                    +error_notice()

                    input(type='hidden' name='origin' value='/project-2-course-48-hour-sale')

                    +payment_cc_fields()

                    button.yellow Get the course for $25! (50% off)

                +payment_form_scripts()

    .section
        .container
            .description
                h2 Meet The Instructor
                p Hey, I'm Shane! I’ve been a software developer for a little over 5 years now, and have worked at Yelp, Carfax, and a startup called SumoMe.

                p The crazy part is I didn’t go to school to be a software developer. In fact, I am completely self-taught.

                p Probably not unlike some of you, when I first started learning to code, I didn't know what I was doing so it took me much longer than it should have to learn. My goal is to fix that. This course is designed so you don't ever have to go through the same unnecessarily long process I did.

                p I've spent the last 5 years teaching myself software development and over time, I have learned what works and what doesn't. Now, I want to use my course to help you learn as efficiently as possible.
            .graphic
                img.circle(src="https://s3.amazonaws.com/spark-school/me_and_yogi.png" alt="Shane Burkhart with his dog, Yogi.")

    +light_gray_CTA_anchor_section('Get The Course!')
