extends ../layouts/signup-landing-page

block content
    .section
        .container
            .graphic
                img(src='/assets/images/monitor-on-desk.png' alt='Illustration of monitor on desk with code.')
            .description
                h2 Start Your Own Software Business
                p When starting a software business, hiring a developer to build your app can be extremely expensive. You will more than likely pay thousands of dollars before you even have a product you can sell.
                p Instead of spending a lot of money to hire a developer, you can cut developer costs out completely by learning to build your own SaaS web app. This course will take you step-by-step through building a ready-to-sell subscription based web app that you can modify for your business's needs.
    .section.light-gray
        .container
            .description
                h2 Start A Career As A Developer
                p I'm sure you've noticed at this point, but software is disrupting every industry. Because of this, there are a lot of software jobs available right now and the number of jobs is growing rapidly.
                p To fill these jobs, software companies are looking to hire developers that know how to build SaaS products. My course will teach you everything you need to know about SaaS web apps and put you in a perfect spot to get hired as a web developer at one of these companies.
            .graphic
                img(src='/assets/images/start-here-mac-window.png' alt='Mac window with button saying "Start Here".')
