extends ../layouts/landing-page-no-header
include ../landing-pages/mixins

block variables
   - var title = 'The Next Step To Becoming A Developer';

block no_hero

block content
    .section.dark-blue.signup-section#sign-up
        .container
            .description
                h2.bold The Next Step To Becoming A Software Developer!
                p The tutorial you are taking is just the first step to becoming a software developer.  There is still a lot of learning to be done.
                p.bold If you sign up now, you will get the next step to becoming a software developer for only $#{price}!
                p When you sign up, you will be sent my 7 day PDF course. In this course, you will learn how to:
                ul
                    li Code a Twitter clone in JavaScript using Node.js
                    li Build and style web pages with HTML and CSS
                    li Read and write to a database using SQL
                    li Run commands in the terminal
                    li Deploy your app to the web with Heroku
                    li And a lot more...
                br
                br
                p
                    | By the end of this course, you'll have a website that can
                    b &nbsp;create, read, update and delete Tweets.
                    | &nbsp;Take the next step towards becoming a software developer and sign up now to get my 7 day PDF course for only $10!

            .graphic
                +twitter_purchase_form('/tutorial-next-step', 'Get the next step for only $10!')

    +short_twitter_meet_the_instructor()

    iframe.hidden(src="https://s3.amazonaws.com/spark-school/tutorials/nodejs-to-heroku/node-and-heroku-cheat-sheet.pdf")

    script.
        fbq('track', 'Lead', {
            value: 10.00,
            currency: 'USD'
        });
