extends ../layouts/landing-page
include ../landing-pages/mixins

block variables
   - var title = 'Twitter Clone Download';

block main_nav
block no_hero

block content
    .section.tiny
        .container
            .full
                h1 Thanks for purchasing the Twitter clone course!
                p Thanks for purchasing! Your 7 day PDF course is on its way!

    .section.dark-blue.signup-section#sign-up
        .container
            .description
                h2.bold Join the community!
                p Congratulations, you are now taking your first steps to learning how to program. While learning to code, it's important that you surround yourself with others to learn with.
                p That's why I made this Facebook Group to help:&nbsp;
                    a(href="http://bit.ly/2jxqfNp") Click here to join the group and get new tips, tutorials, and courses!
            .graphic
               img.rounded(src='/assets/images/girls-working-at-computer.jpg' alt='Two girls working at computer together')

    +purchase_tracking(29.00, 'Twitter Clone Course')
