extends ../layouts/landing-page
include ../landing-pages/mixins

block variables
   - var title = 'Twitter Clone Course Download';

block main_nav
block no_hero

block content
    .section.tiny
        .container
            .full
                h1 Thanks for purchasing the Twitter clone course!
                p
                    a(href="https://s3.amazonaws.com/spark-school/project-2-twitter-clone-course.pdf") Click here if your download doesn't start automatically.
                    | &nbsp;You'll also receive an email with a link to download the course.

    .section.dark-blue.signup-section#sign-up
        .container
            .description
                h2.bold Join the community!
                p While learning to code, it's important that you surround yourself with others to learn with.
                p That's why I made this Facebook Group to help:&nbsp;
                    a(href="http://bit.ly/2jxqfNp") Click here to join the group and get new tips, tutorials, and courses!
            .graphic
               img.rounded(src='/assets/images/girls-working-at-computer.jpg' alt='Two girls working at computer together')

    iframe.hidden(src="https://s3.amazonaws.com/spark-school/project-2-twitter-clone-course.pdf")

    +purchase_tracking(19.00, 'Twitter Clone Course')
