extends ../layouts/landing-page
include ../landing-pages/mixins

block variables
   - var title = 'Twitter Clone Download';

block main_nav
block no_hero

block content
    .section.tiny
        .container
            .full
                h1 Thanks for purchasing the Twitter Clone Course!
                p
                    | The download should start in a second. If not,
                    a(href="https://s3.amazonaws.com/spark-school/tutorials/nodejs-to-heroku/twitter-clone-course.pdf")  click here to download it.
                    | &nbsp;We are also sending it to your email.

    .section.dark-blue.signup-section#sign-up
        .container
            .description
                h2.bold Join the community!
                p Congratulations, you are now taking your first steps to learning how to program. While learning to code, it's important that you surround yourself with others to learn with.
                p That's why I made this Facebook Group to help:&nbsp;
                    a(href="http://bit.ly/2jxqfNp") Click here to join the group and get new tips, tutorials, and courses!
            .graphic
               img.rounded(src='/assets/images/girls-working-at-computer.jpg' alt='Two girls working at computer together')

    iframe.hidden(src="https://s3.amazonaws.com/spark-school/tutorials/nodejs-to-heroku/twitter-clone-course.pdf")

    script.
        fbq('track', 'Purchase', {
            value: 10.00,
            currency: 'USD'
        });
