extends ../layouts/landing-page-no-header
include ../landing-pages/mixins

block variables
   - var title = 'Valentine\'s Day Sale!';

block no_hero

block content
    - currentQuery.email = currentQuery.email || '';

    .section.dark-blue.signup-section#sign-up
        .container
            .description
                h2.bold Valentine's Day Sale!
                p
                    | Valentine's Day is all about love. So for today only, I am offering a
                    b &nbsp;65% discount on our Valentine's Day Bundle!


                p.bold When you purchase this bundle, you will receive the:

                ul
                    li
                        p
                            b Guide To Becoming A Software Developer
                            | &nbsp;- this guide includes everything you need to know to get a job as a software developer.
                    li
                        p
                            b Course for Project 1: Create Your First Website
                            | &nbsp;- go from no programming experience to building and deploying your first website in only a few hours.
                    li
                        p
                            b Course for Project 2: Build A Small Version Of Twitter
                            | &nbsp;- this course builds on project 1 and walks you step-by-step through building a small version of Twitter. This is where you will make a noticeable transition towards becoming a software developer!

                p
                    b Normally this bundle sells for $56, but if you purchase today, you can get it for $19!
                    | &nbsp;Click the link to the right to learn more.


            .graphic
                .signup-form
                    h3
                        | Get the Valentine's Day Bundle for
                        b &nbsp;65% off!
                    img(src="/assets/images/spray-of-hearts.png" style="width: 100%;")
                    p.light
                        | This bundle normally sells for $56, but for
                        b &nbsp;Valentine's Day only
                        | , you can get
                        b &nbsp;the guide and 2 courses for only $19!
                    a.button.block.pink(href='/valentines-day-bundle?email=' + currentQuery.email) Get The V-Day Bundle For Only $19!

    +guide_meet_the_instructor()

    .section.cta.light-gray
        .container
            a.button.pink(href='/valentines-day-bundle?email=' + currentQuery.email) Learn more about the V-Day Bundle!
