extends ../layouts/focus-modal

block variables
   - var title = 'Login';

block content
    - user = user || {}
    h1.text-center Spark School

    if error
        p.error
            i.fa.fa-warning
            =error

    form#login-form(action='/user/session/create' method='POST')
        .input-group
            label(for='email') Email
            input(type='text' name='email' placeholder='user@domain.com' value=user.email)
        .input-group.password-group
            label(for='password') Password
            input#password(type='password' name='password' placeholder='********')
        button Login

    #alternative-signup
        p or
        a(href='/signup')  Sign Up
