.mega-header
  .banner-position
    %h1
      = image_tag "logo-large.png"
    %hr
    %p.lead Learn to make electrical devices
    %p.promo We give you the resources to get started making the devices you want
    %hr
    = render "sign_up_form", name: "Home Bottom"

  .learn-more
    = link_to "Learn More", "#more", class: "btn btn-sm btn-default"
#more
  .container
    .row
      .col-md-4.text-center
        %span.glyphicon.glyphicon-flash
        %h3 No more barrier to entry
        %p It's hard to get started with electrical devices.  Our lessons eliminate that barrier by providing you with easy to understand tutorials.  You will be creating your own devices in no time.
      .col-md-4.text-center
        %span.glyphicon.glyphicon-home
        %h3 Everything you need
        %p Whether it's basic circuit theory, or you want to make an electric device, we have what you need.  Best of all, it's all right from your home.
      .col-md-4.text-center
        %span.glyphicon.glyphicon-cog
        %h3 Better kits
        %p With hardware, not everything can be done online, so we provide kits that will enhance your learning.  You aren't just putting these things together.  Every aspect, from design to part selection, is explained.
  = render "sign_up_form", name: "Home Bottom", header: true

:javascript
  $('a').click(function(){
    $('html, body').animate({
      scrollTop: $( $(this).attr('href') ).offset().top
    }, 500);
    return false;
  });
