<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Roboto:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/application.css">

        <style>
            h1 {
                padding-top: 55px;
            }
        </style>
    </head>
    <body id="course">
        <main class="container">
            <article>
                <h1>{{ page.title }}</h1>
                {{ content }}
            </article>
        </main>
    </body>
</html>
