#focus-modal {
    background-image: url("/assets/images/geometry.png");

    main {
        background-color: #ffffff;
        width: 500px;
        margin: 0px auto;
        border: 1px solid #eeeeee;
        box-shadow: 1px 1px 1px #cccccc;
    }

    .container {
        width: auto;
        padding: 40px;
    }

    h1 {
        margin-bottom: 15px;
    }

    p {
        color: #555555;
        font-size: 16px;
    }

    p.error {
        color: #ffffff;
        background-color: #d24747;
        padding: 8px 15px;
        font-size: 14px;

        i {
            margin-right: 15px;
        }
    }

    .input-group {
        margin-bottom: 10px;

        * {
            display: block;
            width: 100%;
        }

        label {
            color: #606060;
            padding-bottom: 3px;
            font-size: 14px;
        }

        input, select {
            background-color: #ffffff;
            padding: 7px;
            font-size: 16px;
            border: 1px solid #cccccc;
            border-radius: 3px;
        }

        select {
            -webkit-appearance:none;
        }
    }

    #alternative-signup {
        text-align: center;

        p {
            margin-bottom: 8px;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    #signup-form, #login-form {
        width: 300px;
        margin: 0px auto;

        .password-group {
            margin-bottom: 20px;
        }

        button {
            width: 100%;
            display: block;
        }
    }

    #payment-form {
        width: 300px;
        margin: 0px auto;

        .exp-month-group, .exp-year-group, .cvc-group {
            display: inline-block;
            margin-bottom: 20px;
        }

        .exp-month-group {
            width: 50%;
            margin-right: 3%;
        }

        .exp-year-group {
            width: 23%;
            margin-right: 3%;
        }

        .cvc-group {
            width: 21%;
        }

        button {
            width: 100%;
            display: block;
        }
    }
}
