.container
  %h1
    Courses
    - if can?(:create, Course)
      = link_to "New Course", new_course_path, class: "btn btn-success"
  - @courses.each_slice(2) do |slice|
    .row
      - slice.each do |course|
        .col-md-6
          .well
            %h2= link_to course.name, course_tag_path(course.tag)
            %p= course.description
