<h3>Table of Contents</h3>

<ul>
    <li>
        <a href="/tutorials/build-and-deploy-nodejs-app-to-heroku/intro">Introduction</a>
    </li>
    <li>
        {% if page.title contains 'Step 1' %}
            <b>Step 1: Setup and installation</b>
        {% else %}
            <a href="/tutorials/build-and-deploy-nodejs-app-to-heroku/1">Step 1: Setup and installation</a>
        {% endif %}
    </li>
    <li>
        {% if page.title contains 'Step 2' %}
            <b>Step 2: Creating your project and installing Express.js</b>
        {% else %}
            <a href="/tutorials/build-and-deploy-nodejs-app-to-heroku/2">Step 2: Creating your project and installing Express.js</a>
        {% endif %}
    </li>
    <li>
        {% if page.title contains 'Step 3' %}
            <b>Step 3: Writing your first web app with Node.js and Express.js</b>
        {% else %}
            <a href="/tutorials/build-and-deploy-nodejs-app-to-heroku/3">Step 3: Writing your first web app with Node.js and Express.js</a>
        {% endif %}
    </li>
    <li>
        {% if page.title contains 'Step 4' %}
            <b>Step 4: Telling you web server where to listen for requests</b>
        {% else %}
            <a href="/tutorials/build-and-deploy-nodejs-app-to-heroku/4">Step 4: Telling you web server where to listen for requests</a>
        {% endif %}
    </li>
    <li>
        {% if page.title contains 'Step 5' %}
            <b>Step 5: Running your Node.js web app locally</b>
        {% else %}
            <a href="/tutorials/build-and-deploy-nodejs-app-to-heroku/5">Step 5: Running your Node.js web app locally</a>
        {% endif %}
    </li>
    <li>
        {% if page.title contains 'Step 6' %}
            <b>Step 6: Add HTML for home, contact, and about pages</b>
        {% else %}
            <a href="/tutorials/build-and-deploy-nodejs-app-to-heroku/6">Step 6: Add HTML for home, contact, and about pages</a>
        {% endif %}
    </li>
    <li>
        {% if page.title contains 'Step 7' %}
            <b>Step 7: Getting your Node.js app ready for deploy to Heroku</b>
        {% else %}
            <a href="/tutorials/build-and-deploy-nodejs-app-to-heroku/7">Step 7: Getting your Node.js app ready for deploy to Heroku</a>
        {% endif %}
    </li>
    <li>
        {% if page.title contains 'Step 8' %}
            <b>Step 8: Commiting your files with Git</b>
        {% else %}
            <a href="/tutorials/build-and-deploy-nodejs-app-to-heroku/8">Step 8: Commiting your files with Git</a>
        {% endif %}
    </li>
    <li>
        {% if page.title contains 'Step 9' %}
            <b>Step 9: Deploying your web app to Heroku</b>
        {% else %}
            <a href="/tutorials/build-and-deploy-nodejs-app-to-heroku/9">Step 9: Deploying your web app to Heroku</a>
        {% endif %}
    </li>
</ul>
