/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require framework_and_overrides
 *= require_self
 *= require_tree .
 */

.site-logo{
  text-indent: -99999em;
  background-image: image-url("logo-small.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-top: 13px;
  vertical-align: top;
  width: 185px;
  height: 28px;
}

html, body{
  min-height: 100%;
  height: 100%;
  background-color: #ffffff;
}


.navbar{

  .navbar-nav > li.active > a{
    background-color: transparent;

    &:hover{
      background-color: transparent;
    }
  }

  li{

    a{
      text-transform: uppercase;
    }

    &.active{
      background-color: transparent;

      a{
        background-color: transparent;
        font-weight: bold;
      }
    }

  }
}


main{

  &.full-screen{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
  }

  margin: 0px 0px -350px;
}

#push{
  height: 440px;
}

footer{
  height: 350px;
  padding-top: 50px;
  color: #aaa;
  font-size: 1.1em;
  background-color: #efefef;
  border-top: 1px solid #ccc;
  color: #999999;

  p{
    margin: 5px 0px;
  }

  p.heading{
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  a{
    font-size: 14px;
  }
}
