// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.courses-header{
  background-color:#0060ea;
  background-image: image-url("spot-texture.png");
  padding: 30px;
  color: #ffffff;
}

.course-container{
  border-radius: 6px;
  background-color: #fbfbfb;
  border: 1px solid #dcdcdc;
  margin-bottom: 20px;

  .blue-circuit{
    border-radius: 6px 0px 0px 6px;
    background-image: image-url("blue-circuit.png");
    background-color:#0060ea;
    height: 110px;

    .glyph{
      background-color: #fbfbfb;
      border-radius: 50%;
      height: 90px;
      width: 90px;
      display: inline-block;
      margin-top: 10px;
    }
  }

  &.large{
    margin-top: 21px;

    h1{
      margin-top: 30px;
    }

    .blue-circuit{
      height: 150px;

      .glyph{
        margin-top: 30px;
      }
    }
  }

}


