// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lessons{

  h2{
    margin-top: 0px;
  }
}

.lesson-container{
  border-radius: 6px;
  background-color: #fbfbfb;
  border: 1px solid #dcdcdc;
  margin-bottom: 20px;

  .grey-circuit{
    border-radius: 6px 0px 0px 6px;
    background-color:#e0e0e0;
    background-image: image-url("grey-circuit.png");
    height: 110px;

    .glyph{
      background-color: #fbfbfb;
      border-radius: 50%;
      height: 90px;
      width: 90px;
      display: inline-block;
      margin-top: 10px;
    }
  }

  .green{
    color: green;
  }

  h3{
    margin-bottom: 0px;
    margin-top: 19px;
  }

  .description{
    color: #777777;
    margin-top: 5px;
  }

  &.large{
    margin-top: 21px;

    h1{
      margin-top: 30px;
    }

    .blue-circuit{
      height: 150px;

      .glyph{
        margin-top: 30px;
      }
    }
  }

}


/*  Lesson/show  */

.table-of-contents-header{
  margin-top: 20px;
  color: #555;
}

.course-table-of-contents{
  padding: 20px 0px;

  p.unit-name{
    margin-bottom: 5px;
    margin-left: 20px;
    color: #888;
    font-size: .9em;
  }

  ul{
    list-style: none;
    padding: 0px;

    li{
      padding: 5px 30px;

      p{
        margin: 0px;
        color: #428bca;
      }

      &.active, &:hover{
        background-color: #085ad2;

        p{
          color: #fff;

          &:hover{
            text-decoration: none;
          }
        }
      }
    }
  }
}

.lesson-body{
  margin-top: 20px;

  img{
    max-width: 100%;
    height: auto;
    padding: 0px 30px;
    margin: 30px auto;
  }

  p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  p.video{
    max-width: 100%;
    text-align: center;
  }
}

.rate{

  h3{
    margin-top: 0px;
    font-size: 20px;
  }

  .glyphicon{
    font-size: 30px;
  }

  .glyphicon-thumbs-up{

    &:hover, &.active{
      color: green;
    }
  }

  .glyphicon-thumbs-down{

    &:hover, &.active{
      color: red;
    }
  }
}
