.mega-header
  .banner-position
    %h1
      = image_tag "logo-large.png"
    %hr
    %p.lead Learn to make electrical devices
    %p.promo We give you the resources to get started making the devices you want
    %hr
    = link_to "Let's get started!", new_user_registration_path,  class: "btn btn-warning btn-lg"
    %br
    %br
    %p.or or
    %p= link_to "Sign in", new_user_session_path, class: "sign-in"

  .learn-more
    = link_to "Learn More", "#more", class: "btn btn-sm btn-default"

