.mega-header
  .banner-position
    %h1
      = image_tag "logo-large.png"
    %hr
    %h2.lead Learn to make embedded devices.
    %hr
    = link_to "Preorder Your Kit", "#", class: "btn btn-inverse btn-lg btn-wide"

