.mega-header
  .banner-position
    %h1
      = image_tag "logo-large.png"
    %hr
    %p.lead Learn to make electrical devices
    %p.promo We give you the resources to get started making the devices you want
    %hr
    = render "sign_up_form", name: "Home Bottom"

  .learn-more
    = link_to "Learn More", "#more", class: "btn btn-sm btn-default"

