---
permalink: /ebooks/twitter-clone
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Twitter Clone Course | Spark School</title>
        <meta name="viewport" content="width=device-width">

        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Roboto:300,400" rel="stylesheet">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/assets/css/application.css">

        <style>
            h1 {
                padding-top: 55px;
            }
            h1 + h4 {
                display: none;
            }
            h1 + h4 + ul {
                display: none;
            }
            img {
                max-width: 100%;
            }
            pre {
                white-space: pre-wrap;
            }
        </style>
    </head>
    <body id="course">
        <main class="container">
            <h1>Twitter Clone Course</h1>
            <p>Go from zero coding experience to building a Twitter clone in 7 days</p>
            <h2>Table of Contents</h2>
            {% for post in site.posts reversed %}
                {% if post.course contains "Twitter Clone" %}
                    {% unless post.title contains "8.1" %}
                        {% if post.title contains "1.1" %}
                            <h3>Day 1</h3>
                            <ul>
                        {% endif %}
                        {% if post.title contains "2.1" %}
                            </ul>
                            <h3>Day 2</h3>
                            <ul>
                        {% endif %}
                        {% if post.title contains "3.1" %}
                            </ul>
                            <h3>Day 3</h3>
                            <ul>
                        {% endif %}
                        {% if post.title contains "4.1" %}
                            </ul>
                            <h3>Day 4</h3>
                            <ul>
                        {% endif %}
                        {% if post.title contains "5.1" %}
                            </ul>
                            <h3>Day 5</h3>
                            <ul>
                        {% endif %}
                        {% if post.title contains "6.1" %}
                            </ul>
                            <h3>Day 6</h3>
                            <ul>
                        {% endif %}
                        {% if post.title contains "7.1" %}
                            </ul>
                            <h3>Day 7</h3>
                            <ul>
                        {% endif %}
                        <li><a href="#{{ post.title | downcase | replace:'.', '-' | replace:' ', '-' }}">{{ post.title}}</a></li>
                        {% if post.title contains "7.4" %}
                            </ul>
                        {% endif %}
                    {% endunless %}
                {% endif %}
            {% endfor%}
            {% for post in site.posts reversed %}
                {% if post.course contains "Twitter Clone" %}
                    {% unless post.title contains "8.1" %}
                        <article>
                            <h1 id="{{ post.title | downcase | replace:'.', '-' | replace:' ', '-' }}">{{ post.title }}</h1>
                            {{ post.content }}
                        </article>
                    {% endunless %}
                {% endif %}
            {% endfor%}
        </main>
    </body>
</html>
